body {
  margin: 0;
  font-family: sans-serif;
  direction: rtl;

  /* SAME STYLE AS YOUR SITE */
  
  background: linear-gradient(180deg, #139ef4 0%, #1e7ec3 100%);
}

.signup-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.signup-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  /* background: linear-gradient(135deg, #2da7e0, #0582b4); */
  background: linear-gradient(180deg, #139ef4 0%, #114971 100%);

}

.signup-left h1 {
  font-size: 3rem;
  margin-bottom: 10px;

  font-size: 5rem;
    font-weight: 800;
    background: linear-gradient(125deg, #023d67, #0470a1, #013c6a);
    text-align: center;
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: -0.5px;
    margin-top: 10px;

}

.signup-left p {
  font-size: 1.2rem;
}

/* RIGHT SIDE */
.signup-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: rgb(80, 172, 248);
  padding: 40px;
}   

.signup-box h2 {
  margin-bottom: 20px;
  color: #0a2e3f;
}

.signup-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;

  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
}

/* BUTTON SAME STYLE */
.signup-box button {
  padding: 12px;
  border: none;
  border-radius: 20px;

  background: linear-gradient(105deg, #0072C6, #0095e0);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.signup-box button:hover {
  background: linear-gradient(105deg, #005e9e, #007cc7);
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #0072C6;
  text-decoration: none;
}

/* 📱 MOBILE */
@media (max-width: 768px) {
  .signup-container {
    flex-direction: column;
  }

  .signup-left {
    height: 200px;
  }
}

@media (max-width: 1080px) {
  .signup-container {
    flex-direction: column;
  }

  .signup-left {
    height: 200px;
  }
}